@model IEnumerable<PracticaMvcCore2Iniciales.Models.VistaPedidos>

@{
    ViewData["Title"] = "DetailsPedidos";
}

<h1>DetailsPedidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRECIOFINAL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRECIOFINAL)
            </td>
        </tr>
}
    </tbody>
</table>
