@model List<Hospital>


<table class="table">
    <thead>
        <tr>
            <td>
                IdHospital
            </td>
            <td>
                Nombre
            </td>
            <td>
                Direccion
            </td>
            <td>
                Telefono
            </td>
            <td>
                Camas
            </td>
        </tr>
    </thead>
    @if (Model.Count != 0)
    {
        <tbody>
            @foreach (Hospital hospital in Model)
            {
                <tr>
                    <td>
                        @hospital.IdHospital
                    </td>
                    <td>
                        @hospital.Nombre
                    </td>
                    <td>
                        @hospital.Direccion
                    </td>
                    <td>
                        @hospital.Telefono
                    </td>
                    <td>
                        @hospital.Camas
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
