@model IEnumerable<CountryInfoService.tCountryCodeAndName>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sISOCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sISOCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {  isoCode=item.sISOCode  })
            </td>
        </tr>
}
    </tbody>
</table>
